In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('jokes-data.csv')

In [3]:
data.shape

(1092059, 4)

In [4]:
data.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [5]:
data.isna().sum()

id         0
user_id    0
joke_id    0
Rating     0
dtype: int64

In [6]:
data.drop('id', axis=1, inplace=True)

In [7]:
data.head()

   user_id  joke_id  Rating
0    31030      110   2.750
1    16144      109   5.094
2    23098        6  -6.438
3    14273       86   4.406
4    18419      134   9.375

In [8]:
from surprise import Dataset
from surprise import Reader
from surprise import KNNBasic
from surprise import SVD
from surprise import KNNWithMeans
from surprise import NormalPredictor

In [9]:
reader = Reader(rating_scale=(-10,10))

In [10]:
dataSet = Dataset.load_from_df(data, reader)

In [ ]:
data = Dataset.load_builtin(name = 'ml-100k', prompt=False)

In [11]:
knnBasic = KNNBasic()

In [12]:
from surprise.model_selection import cross_validate

In [13]:
cross_validate(knnBasic, dataSet, measures=['RMSE'], cv=5,verbose = True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.4841  4.4892  4.4683  4.4680  4.4729  4.4765  0.0086
Fit time          385.51  386.47  396.99  394.85  409.33  394.63  8.62
Test time         831.20  724.94  831.90  718.97  856.74  792.75  58.56

{'test_rmse': array([4.48414435, 4.48918806, 4.46825904, 4.46797732, 4.47292116]),
 'fit_time': (385.5132381916046,
  386.47080397605896,
  396.98774099349976,
  394.8510310649872,
  409.33308696746826),
 'test_time': (831.2030742168427,
  724.9405839443207,
  831.8966448307037,
  718.9684636592865,
  856.7410650253296)}

In [14]:
svd = SVD()

In [15]:
cross_validate(svd, dataSet, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.2922  4.2916  4.2797  4.2972  4.2957  4.2913  0.0062
Fit time          6.07    6.08    6.36    6.40    6.40    6.26    0.15
Test time         0.99    0.99    1.02    1.04    1.06    1.02    0.03

{'test_rmse': array([4.29217538, 4.29162751, 4.2796584 , 4.29719427, 4.29573417]),
 'fit_time': (6.0712409019470215,
  6.079596996307373,
  6.362053871154785,
  6.39879298210144,
  6.403504133224487),
 'test_time': (0.9856739044189453,
  0.9905359745025635,
  1.0187251567840576,
  1.040748119354248,
  1.0610592365264893)}

In [16]:
knnWithMeans = KNNWithMeans()

In [17]:
cross_validate(knnWithMeans, dataSet, measures=['RMSE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.2841  4.3020  4.3057  4.3024  4.2998  4.2988  0.0076
Fit time          416.47  407.56  427.28  418.44  404.84  414.92  8.04
Test time         872.46  903.35  888.87  890.07  857.06  882.36  16.00

{'test_rmse': array([4.28413865, 4.30203131, 4.30567575, 4.30237396, 4.29975923]),
 'fit_time': (416.4663450717926,
  407.5553631782532,
  427.27530884742737,
  418.4442038536072,
  404.83896803855896),
 'test_time': (872.4588828086853,
  903.3534379005432,
  888.8717639446259,
  890.0685932636261,
  857.0648667812347)}

In [18]:
from surprise import NMF
nmf = NMF()

In [ ]:
cross_validate(nmf, dataSet, measures=['RMSE'], cv=5)